name: Build Packages for PRs

on:
  pull_request:
    branches:
    - main

jobs:
  latest_kolibri_release:
    runs-on: ubuntu-latest
    outputs:
      whl-url: ${{ steps.get_latest_kolibri_release.outputs.result }}
    steps:
      - name: Get latest Kolibri release
        id: get_latest_kolibri_release
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |

            const { data: releases } = await github.rest.repos.listReleases({
              owner: 'learningequality',
              repo: 'kolibri',
              per_page: 1,
              page: 1,
            });

            const latestRelease = releases[0];
            const whlAsset = latestRelease.assets.find(asset => asset.name.endsWith('.whl'));
            const whlUrl = whlAsset.browser_download_url;
            return whlUrl;

  # Build macOS DMG
  build_dmg:
    name: Build Unsigned DMG
    needs: latest_kolibri_release
    uses: ./.github/workflows/build_mac.yml
    with:
      whl-url: ${{ needs.latest_kolibri_release.outputs.whl-url }}

  # Build Windows installer
  build_exe:
    name: Build Unsigned EXE
    needs: latest_kolibri_release
    uses: ./.github/workflows/build_windows.yml
    with:
      whl-url: ${{ needs.latest_kolibri_release.outputs.whl-url }}

  # Smoke test Windows installer
  smoke_test_windows:
    name: Smoke Test Windows
    needs: build_exe
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Windows installer
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build_exe.outputs.exe-file-name }}
          path: ./artifacts

      - name: Run smoke test
        shell: bash
        run: |
          ./scripts/smoke_test_windows.sh "./artifacts/${{ needs.build_exe.outputs.exe-file-name }}"

  # Smoke test macOS DMG
  smoke_test_macos:
    name: Smoke Test macOS
    needs: build_dmg
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4

      - name: Download macOS DMG
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build_dmg.outputs.dmg-file-name }}
          path: ./artifacts

      - name: Run smoke test
        run: |
          ./scripts/smoke_test_macos.sh "./artifacts/${{ needs.build_dmg.outputs.dmg-file-name }}"
