name: Build Packages for PRs

on:
  pull_request:
    branches:
    - main

jobs:
  latest_kolibri_release:
    runs-on: ubuntu-latest
    outputs:
      whl-url: ${{ steps.get_latest_kolibri_release.outputs.result }}
    steps:
      - name: Get latest Kolibri release
        id: get_latest_kolibri_release
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |

            const { data: releases } = await github.rest.repos.listReleases({
              owner: 'learningequality',
              repo: 'kolibri',
              per_page: 1,
              page: 1,
            });

            const latestRelease = releases[0];
            const whlAsset = latestRelease.assets.find(asset => asset.name.endsWith('.whl'));
            const whlUrl = whlAsset.browser_download_url;
            return whlUrl;

  # Build macOS DMG
  build_dmg:
    name: Build Unsigned DMG
    needs: latest_kolibri_release
    uses: ./.github/workflows/build_mac.yml
    with:
      whl-url: ${{ needs.latest_kolibri_release.outputs.whl-url }}

  # Build Windows installer
  build_exe:
    name: Build Unsigned EXE
    needs: latest_kolibri_release
    uses: ./.github/workflows/build_windows.yml
    with:
      whl-url: ${{ needs.latest_kolibri_release.outputs.whl-url }}
